@import "../../style.scss";

.addContent {
  @include themify($themes) {
    margin-bottom: 20px;
    background-color: themed("bg");
    color: themed("textColor");

    form {
      display: flex;
      flex-direction: column;
      padding: 20px 20px 10px;
      gap: 10px;
      box-shadow: 0 0 1px grey;

      input {
        font-weight: lighter;
        padding: 10px;
        background-color: themed("bgSoft");
        box-shadow: 0 0 2px grey;
        border: 1px solid themed("bgSoft");
        color: themed("textColor");
      }

      input::placeholder {
        color: themed("textColor");
      }

      textarea {
        padding: 10px;
        font-weight: lighter;
        background-color: themed("bgSoft");
        color: themed("textColor");
        border: 1px solid themed("bgSoft");
        box-shadow: 0 0 2px grey;
      }

      textarea::placeholder {
        color: themed("textColor");
      }

      button {
        background-color: themed("bg3");
        color: white;
        border: none;
        padding: 0 20px;
        border-radius: 2000px;
        min-height: 44px;
        min-width: 100px;
        font-weight: 700;
        font-size: 16px;
        margin-left: auto;
        transition: all 0.2s ease-in-out;
      }

      button:hover {
        background: rgb(122, 192, 253);
        color: black;
      }

      button:hover {
        cursor: pointer;
      }
    }
  }
}