.contents {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .content {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 1px grey;
  }
}

.user p{
  padding-bottom: 20px;
}

.name{
  padding-bottom: 5px;
  margin-left: 1em;
}

.user__image{
  border-radius: 50%;
}

.item__image{
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
}