@import "../../style.scss";

.register {
  height: 100vh;
  background-color: rgb(123, 190, 248);
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    @include mobile {
      width: 90%;
    }

    @include tablet {
      width: 90%;
    }

    @include laptop-s {
      width: 90%;
    }

    display: flex;
    flex-direction: row-reverse;
    width: 45%;
    background-color: white;
    border-radius: 10px;
    min-height: 500px;
    overflow: hidden;

    .left {
      @include mobile {
        display: none;
      }

      flex: 1;
      background: linear-gradient(rgb(102, 170, 197, 0.6), rgba(0, 0, 0, 0.5)),
      url('../../../public/image/pexels-photo-1166990.webp') center;
      background-size: cover;
      padding: 40px;
      display: flex;
      flex-direction: column;
      color: #fff;

      h1 {
        font-size: 5em;
        line-height: 70px;
      }

      p {
        margin: 30px 0;
      }

      span {
        color: white;
        font-size: 0.8em;
        font-weight: bold;
      }

      button {
        width: 36%;
        padding: 10px;
        border: none;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      @include mobile {
        padding: 35px;
      }

      display: flex;
      flex: 1;
      padding: 50px;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #333;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          border: 1px solid lightgrey;
          padding: 10px 10px;
        }

        button {
          min-height: 44px;
          font-size: 16px;
          width: 50%;
          padding: 10px;
          border: none;
          background-color: rgb(123, 190, 248);
          color: white;
          font-weight: bold;
        }
      }

      .toRegister {
        @include mobile {
          visibility: visible;
        }

        visibility: hidden;
        margin-top: 10px;
        gap: 0;

        span:first-child {
          font-weight: 700;
          font-size: 14px;
        }

        a span:last-child {
          display: block;
          min-height: 44px;
          font-weight: 500;
          color: black;
          font-size: 12px;
        }
      }
    }
  }
}