@import "../../style.scss";

.home {
  @include themify($themes) {
    margin: 40px 30px;
    background-color: themed("bgSoft");
  }

  @include mobile {
    margin: 0 auto !important;
    width: 350px;
  }
}