@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    flex: 1.5;
    position: sticky;
    top: 95px;
    height: calc(100vh - 95px);

    @include mobile {
      display: none;
    }

    @include tablet {
      flex: 1;
    }

    .container {
      padding: 20px;
      background-color: themed("bg");
      color: themed("textColorSoft");


      .menu {
        .category {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 2px solid themed("border");
        }

        .item {
          ul {
            display: flex;
            flex-direction: column;
            margin-block-start: 0;
            padding-inline: 0;
            gap: 20px;

            li {
              list-style-type: none;
              cursor: pointer;
            }

            li:hover{
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}