.addContent {
  margin-bottom: 20px;
  background-color: white;

  form {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px;
    gap: 10px;
    box-shadow: 0 0 1px grey;

    input {
      font-weight: lighter;
      padding: 10px;
    }

    textarea {
      padding: 10px;
      font-weight: lighter;
    }

    button {
      background-color: rgb(123, 190, 248);
      color: white;
      border: none;
      padding: 0 20px;
      border-radius: 2000px;
      min-height: 38px;
      min-width: 100px;
      font-weight: 700;
      font-size: 16px;
      margin-left: auto;
    }

    button:hover {
      cursor: pointer;
    }
  }

}