@import "../../style.scss";

.list {
  flex: 2.5;
  position: sticky;
  top: 57px;
  height: calc(100vh - 57px);

  @include mobile {
    display: none;
  }

  @include tablet {
    flex: 2;
  }


  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  // ::-webkit-scrollbar-track {
  //   @include themify ($themes) {
  //     background: themed('border')
  //   }
  // }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(123, 190, 248);
    border-radius: 5px;
  }

  p {
    @include themify($themes) {
      margin-top: 40px;
      padding: 20px;
      border-bottom: 2px solid themed("border");
      background-color: themed("bg");
      color: themed("textColor");
    }
  }


  .rightBar {
    @include themify($themes) {
      background-color: themed("bg");
      padding: 20px 0;
      height: calc(100vh - 250px);
      overflow: auto;


      .article__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .article {
          background-color: themed("bgSoft");
          box-shadow: 0 0 1.5px themed("textColorSoft");
          margin: 0 20px;
          overflow: hidden;
          text-decoration: none;
          color: themed("textColor");


          img {
            object-fit: cover;
            height: 150px;
            width: 100%;
          }

          span {
            @include tablet {
              font-size: 14px;
            }

            display: block;
            font-weight: 700;
            font-size: 18px;
            padding: 10px;
          }
        }
      }
    }
  }
}