@import "../../style.scss";

.list {
  flex: 2.5;
  position: sticky;
  top: 53px;
  height: calc(100vh - 53px);

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(234, 236, 238, 0.938)
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(123, 190, 248);
    border-radius: 5px;
  }

  p {
    @include themify($themes) {
      margin-top: 40px;
      padding: 20px 0 20px 20px;
      border-bottom: 2px solid lightgrey;
      background-color: themed("bg");
      color: themed("textColor");
    }
  }


  .rightBar {
    @include themify($themes) {
      background-color: themed("bg");
      padding: 20px 0;
      height: calc(100vh - 250px);
      overflow: auto;



      .article__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .article {
          box-shadow: 0 0 2px 2px lightgrey;
          width: 90%;
          // border-radius: 5px;
          overflow: hidden;
          text-decoration: none;
          color: black;
          color: themed("textColor");


          img {
            height: 150px;
            width: 100%;
          }

          h3 {
            height: 80px;
            padding: 10px 20px
          }
        }
      }
    }
  }
}