html {
  scroll-behavior: smooth;
}

$themes: (
  light: (textColor: #000,
    bg: white,
    bg2: rgb(123, 190, 248),
    bg3: rgb(123, 190, 248),
    logo: rgb(123, 190, 248),
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: lightgray,
    border2: #000,
  ),
  dark: (textColor: whitesmoke,
    bg: #222,
    bg2: #222,
    bg3: rgb(81, 145, 201),
    logo: white,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
    border2: white,
  ),
);

@mixin themify($themes) {

  @each $theme,
  $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key,
      $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge($theme-map,
          ($key: $value,
          )) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 749px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) and (min-width: 750px) {
    @content;
  }
}

@mixin laptop-s {
  @media (max-width: 1100px) and (min-width: 1008px) {
    @content;
  }
}

@mixin laptop-m {
  @media (max-width: 1280px) and (min-width: 1105px) {
    @content;
  }
}

@mixin laptop-l {
  @media (max-width: 1440px) and (min-width: 1300px) {
    @content;
  }
}

.background {
  @include themify($themes) {
    background-color: themed("bgSoft");
  }
}


.outletContainer {
  // style={{ display: "flex", width: "1072px", margin: "0 auto" }}
  display: flex;
  width: 1072px;
  margin: 0 auto;

  @include mobile {
    width: 350px;
  }

  @include tablet {
    width: 745px;
  }

  @include laptop-s {
    width: 985px;
  }

  .outletItem {
    flex: 5;

    @include mobile {
      margin-top: 20px;
      flex: 1;
    }
  }
}