html {
  scroll-behavior: smooth;
}

$themes: (
  light: (textColor: #000,
    bg: white,
    bg2: rgb(123, 190, 248),
    bg3: rgb(123, 190, 248),
    logo: rgb(123, 190, 248),
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: lightgray,
    border2: #000,
  ),
  dark: (textColor: whitesmoke,
    bg: #222,
    bg2: #222,
    bg3: white,
    logo: white,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
    border2: white,
  ),
);

@mixin themify($themes) {

  @each $theme,
  $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key,
      $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge($theme-map,
          ($key: $value,
          )) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}